<div>
  <form class="mt-5">
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>